<footer
        class="jumbotron text-center"
        style="background-color:#eee; height: 45px; line-height: 45px;">
    <p style="margin: 0;">
        ©Copyright 2021 FJA-Team. All Rights Reserved. Designed by X
    </p>
</footer>
