<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<header class="container-fluid" style="padding: 0px;">
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <a href="/">
                <img src="/images/find-job-app-logo.png"
                     class="img-fluid" style="height: 200px;">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">Trang chủ</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/news-categories">Thể loại bài viết</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/news-authors">Tác giả bài viết</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/news">Bài viết</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/users">
                                Người dùng</a>
                        </li>

                        <div class="dropdown">
                            <button type="button"
                                    class=
                                        "btn btn-primary
                                        dropdown-toggle"
                                    data-toggle="dropdown"
                                    style=
                                        "background-color: #0000;
                                        color: rgba(0,0,0,.55);
                                        border: 1px solid #0000;">
                                Tin tuyển dụng
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   href="/job-news/unapproved-job-news">
                                    Tin tuyển dụng chưa phê duyệt
                                </a>
                                <a class="dropdown-item"
                                   href="/job-news/approved-job-news">
                                    Tin tuyển dụng đã phê duyệt
                                </a>
                                <a class="dropdown-item"
                                   href="/job-news">
                                    Tất cả tin tuyển dụng
                                </a>
                            </div>
                        </div>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>