<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <%- include('_share/style'); %>
</head>
<body>
<div class="container">
    <%- include('_share/header'); %>
    <main class="container-fluid">
        <h4 class="text-center">Trang chủ</h4>
    </main>
    <%- include('_share/footer'); %>
</div>
</body>
</html>

